html,
body {
  background-color: #ffd7d7;
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive !important;
}
div h2,
th {
  color: #806a22;
  font-weight: bolder;
  text-decoration: underline;
}
.home {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: column;
  background-color: #de9aa5;

  border-radius: 3px;
}
.main {
  display: flex;
  justify-content: center;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.btn {
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

span.price {
  float: right;
  color: rgb(80, 51, 51);
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */

#deco-straw {
  width: 200px;
}

.prices {
  display: flex;
  justify-content: center;
  border: solid rgb(80, 51, 51) 1px;
}
.wrapper {
  width: 100%;
}

.main {
  transition: transform 0.2s;
}
div.card {
  display: flex;
  justify-content: center;
}

.card-body {
  background-color: #de9aa5;
}
.card-title,
.card-text {
  text-decoration: dashed underline #ffd7d7;
  text-align: center;
  color: #806a22;
}
.carousel-inner img {
  display: flex;
  justify-content: center;
  border-radius: 1000px;
  width: 75%;
  margin: auto;
}
.carousel {
  display: flex;
  align-items: center;
  width: 550px;
  height: 450px;
  border: 10px solid #ab8c2a;
  border-radius: 1000px;
}
#carouselExampleIndicators {
  display: flex;
  justify-content: center;
}
.nav__text {
  color: #806a22;
  font-weight: bold;
  font-size: large;
  margin-right: 1em;
  display: flex;
  align-items: end;
  text-decoration-color: #806a22;
}
a:hover {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
#carousel-slider {
  slidestoscroll: 1;
  autoplay: true;
  autoplayspeed: 0.1s;
  mobilefirst: tru;
}
.login {
  font-size: xx-large;
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: #de9aa5;

  border-radius: 3px;
}
.nav {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #de9aa5;
  border-bottom: 3px rgb(80, 51, 51) solid;
  border-radius: 3px;
}

.register {
  font-size: large;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #de9aa5;

  border-radius: 3px;
}
.cart {
  margin: 0;
  width: 100%;
  font-size: large;
  border-radius: 3px;
  font-size: x-large;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: column;
  background-color: #ffd7d7;

  border-radius: 3px;
}
.checkout {
  margin: 0;
  width: 50%;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: column;
  background-color: #ffd7d7;
  border-radius: 3px;
}
.credit-info-content,
table {
  background-color: #de9aa5;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 5em 1em 5em;
}
.credit-info-content h2 {
  text-align: center;
}
.col-10 {
  font-size: large;
}

table,
th,
td {
  border: 1px solid black;
  width: 30em;
  margin-left: auto;
  margin-right: auto;
}
